<div class="container">
  <div class="text-center">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 class="title-one">Por que Nosotros?</h2>
      <p>Porque somos una empresa profesional, dinámica y comprometida con atención personalizada a nuestros clientes, empleados y proveedores.</p>
      <p>Porque somos fieles a nuestras convicciones, clientes y proveedores. Esto nos convierte en una empresa a la cual Usted le puede confiar su seguridad.</p>
    </div>
  </div>
  <div class="about-us">
    <div class="row">
      <div class="col-sm-6">
        <h3>Por que Nosotros?</h3>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-chain-broken"></i>Acerca de nosotros</a></li>
          <li><a href="#mission" data-toggle="tab"><i class="fa fa-th-large"></i> Mision</a></li>
          <li><a href="#community" data-toggle="tab"><i class="fa fa-users"></i> Vision</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="about">
            <div class="media">
              <img class="pull-left media-object" src="Public/images/about-us/about.jpg" alt="Acerca de nosotros?" height="200" width="100">
              <div class="media-body">
                <p><strong>Edifica S.R.L</strong> nace el año 2005  como una empresa  importadora de  material para la construcción  que con una larga tradición, hoy día consolidado como una empresa líder en el mercado nacional por importar material de alta calidad.</p>
                <p>Hoy, esta empresa emprende varios  proyectos en materia de la construcción  diversificándose  con varias empresas para cubrir, el mercado de la construcción   para el mercado nacional.</p>
                <p>Esta empresa  tiene un amplio sistema de relaciones internas y externas para la comercialización de materiales para el rubro de la construcción, ferretería, cerrajería e industria.</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="mission">
            <div class="media">
              <img class="pull-left media-object" src="Public/images/about-us/mission.png" alt="Mision?" height="250" width="250">
              <div class="media-body">
                <p>Es misión de <strong>Edifica S.R.L</strong> proveer productos y servicios para la construcción con altos niveles de calidad y seguridad coadyuvando al desarrollo de la región,  altamente comprometidos con el rubro de la construcción.</p>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="community">
            <div class="media">
              <img class="pull-left media-object" src="Public/images/about-us/vision.png" alt="Vision?">
              <div class="media-body">
                <p>Llegar a ser la empresa referente y reconocida a nivel regional y nacional por la importación  de productos y servicios para la construcción.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h1 class="pruebas">Pensar que ira aqui :U</h1>
        </div>
      </div>
    </div>
  </div>
