<div class="home-pattern"></div>
<div id="main-carousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#main-carousel" data-slide-to="1"></li>
    <li data-target="#main-carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active" style="background-image: url(Public/images/slider/slide3.jpg)">
      <div class="carousel-caption">
        <div>
          <h2 class="heading animated bounceInDown">Bienvenido :D</h2>
          <p class="animated bounceInUp">Edifica S.R.L</p>
          <a class="btn btn-default slider-btn animated fadeIn" href="#">Buscas Algo?</a>
        </div>
      </div>
    </div>
    <div class="item" style="background-image: url(Public/images/slider/slide2.jpg)">
      <div class="carousel-caption"> <div>
        <h2 class="heading animated bounceInDown">Producto Destacado 1</h2>
        <p class="animated bounceInUp">Descripcion De Producto</p>
        <a class="btn btn-default slider-btn animated fadeIn" href="#">Ver producto</a>
      </div>
    </div>
  </div>
  <div class="item" style="background-image: url(Public/images/slider/slide1.jpg)">
    <div class="carousel-caption">
      <div>
        <h2 class="heading animated bounceInRight">Producto Destacado 2</h2>
        <p class="animated bounceInLeft">Descripcion De Producto</p>
        <a class="btn btn-default slider-btn animated bounceInUp" href="#">Ver Producto</a>
      </div>
    </div>
  </div>

</div><!--/.carousel-inner-->

<a class="carousel-left member-carousel-control hidden-xs" href="#main-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
<a class="carousel-right member-carousel-control hidden-xs" href="#main-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
</div>
