<div class="container">
  <div class="row text-center">
    <div class="col-sm-8 col-sm-offset-2">
      <h2 class="title-one">Proveedores</h2>
      <p>Conoce a algunos de nuestros proveedores.</p>
    </div>
  </div>
  <ul class="portfolio-filter text-center">
    <li><a class="btn btn-default active" href="#" data-filter="*">Todo</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".html">Tipo 1</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".wordpress">Tipo 2</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".joomla">Tipo 3</a></li>
    <li><a class="btn btn-default" href="#" data-filter=".megento">Tipo 4</a></li>
  </ul><!--/#portfolio-filter-->
  <div class="portfolio-items">
    <div class="col-sm-3 col-xs-12 portfolio-item html">
      <div class="view efffect">
        <div class="portfolio-image">
          <img src="Public/images/portfolio/fv.png" alt="" class="imgProv"></div>
          <div class="mask text-center">
            <h3>Novel</h3>
            <h4>Lorem ipsum dolor sit amet consectetur</h4>
            <a href="http://www.fvsa.com/"  target="_blank"><i class="fa fa-link"></i></a>
            <a href="Public/images/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12 portfolio-item jooma">
        <div class="view efffect" >
          <div class="portfolio-image">
            <img src="Public/images/portfolio/weber.png" alt="" class="imgProv">
          </div>
          <div class="mask text-center">
            <h3>Novel</h3>
            <h4>Lorem ipsum dolor sit amet consectetur</h4>
            <a href="#"><i class="fa fa-link"></i></a>
            <a href="Public/portfolio/big-item4.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12 portfolio-item wordpress">
        <div class="view efffect">
          <div class="portfolio-image">
            <img src="Public/images/portfolio/rhe.png" alt="" class="imgProv">
          </div>
          <div class="mask text-center">
          <h3>Novel</h3>
          <h4>Lorem ipsum dolor sit amet consectetur</h4>
          <a href="#"><i class="fa fa-link"></i></a>
          <a href="images/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12 portfolio-item megento">
      <div class="view efffect">
        <div class="portfolio-image">
          <img src="Public/images/portfolio/ace.png" alt="" class="imgProv">
        </div>
        <div class="mask text-center">
          <h3>Novel</h3>
          <h4>Lorem ipsum dolor sit amet consectetur</h4>
          <a href="#"><i class="fa fa-link"></i></a>
          <a href="images/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12 portfolio-item html">
      <div class="view efffect">
        <div class="portfolio-image">
          <img src="images/portfolio/5.jpg" alt="">
        </div> <div class="mask text-center">
        <h3>Novel</h3>
        <h4>Lorem ipsum dolor sit amet consectetur</h4>
        <a href="#"><i class="fa fa-link"></i></a>
        <a href="images/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12 portfolio-item wordpress">
    <div class="view efffect">
      <div class="portfolio-image">
        <img src="images/portfolio/6.jpg" alt="">
      </div>
      <div class="mask text-center">
        <h3>Novel</h3>
        <h4>Lorem ipsum dolor sit amet consectetur</h4>
        <a href="#"><i class="fa fa-link"></i></a>
        <a href="images/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12 portfolio-item html">
    <div class="view efffect">
      <div class="portfolio-image">
        <img src="images/portfolio/7.jpg" alt="">
      </div>
      <div class="mask text-center">
        <h3>Novel</h3>
        <h4>Lorem ipsum dolor sit amet consectetur</h4>
        <a href="#"><i class="fa fa-link"></i></a>
        <a href="images/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-xs-12 portfolio-item joomla">
    <div class="view efffect">
      <div class="portfolio-image">
        <img src="images/portfolio/8.jpg" alt=""></div>
        <div class="mask text-center">
          <h3>Novel</h3>
          <h4>Lorem ipsum dolor sit amet consectetur</h4>
          <a href="#"><i class="fa fa-link"></i></a>
          <a href="images/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12 portfolio-item html">
      <div class="view efffect">
        <div class="portfolio-image">
          <img src="images/portfolio/9.jpg" alt="">
        </div>
        <div class="mask text-center">
          <h3>Novel</h3>
          <h4>Lorem ipsum dolor sit amet consectetur</h4>
          <a href="#"><i class="fa fa-link"></i></a>
          <a href="images/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12 portfolio-item wordpress">
      <div class="view efffect">
        <div class="portfolio-image">
          <img src="images/portfolio/10.jpg" alt=""></div>
          <div class="mask text-center">
            <h3>Novel</h3>
            <h4>Lorem ipsum dolor sit amet consectetur</h4>
            <a href="#"><i class="fa fa-link"></i></a>
            <a href="images/portfolio/big-item.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-3 col-xs-12 portfolio-item joomla">
        <div class="view efffect">
          <div class="portfolio-image">
            <img src="images/portfolio/11.jpg" alt=""></div>
            <div class="mask text-center">
              <h3>Novel</h3>
              <h4>Lorem ipsum dolor sit amet consectetur</h4>
              <a href="#"><i class="fa fa-link"></i></a>
              <a href="images/portfolio/big-item3.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12 portfolio-item megento">
          <div class="view efffect">
            <div class="portfolio-image">
              <img src="images/portfolio/12.jpg" alt=""></div>
              <div class="mask text-center">
                <h3>Novel</h3>
                <h4>Lorem ipsum dolor sit amet consectetur</h4>
                <a href="#"><i class="fa fa-link"></i></a>
                <a href="images/portfolio/big-item4.jpg" data-gallery="prettyPhoto"><i class="fa fa-search-plus"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
